* {
  box-sizing: border-box;
}

html, body {
  /* Needed to make the wrapper extend the entire height of the page */
  height: 100%;
}

body {
  background: black;
  color: #efefef;
}

button,
input {
  color: #222;
}

input:focus {
  outline: none;
}

.wrapper {
  /* By setting it to flex and full height we can vertically center the content of the wrapper element */
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__img {
  width: 125px;
  /* Make sure the image doesn't extend outside of its container */
  max-width: 100%;
  margin-bottom: 30px;
}

form {
  background: #fff;
  padding: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #222;
  font-size: 80%;
}

input[type=checkbox] + label {
  display: inline;
}

input[type=text],
input[type=password] {
  width: 100%;
  background: #efefef;
  border: none;
  padding: 10px;
}

.form__group {
  margin-bottom: 20px;
}

.submit__wrapper {
  display: flex;
  justify-content: space-between;
}

.form__remember label,
.form__remember input {
  cursor: pointer;
  font-size: 80%;
  color: #333;
}

button[type=submit] {
  width: 100%;
  background: #4092e6;
  color: #fff;
  border: none;
  padding: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button[type=submit]:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
